{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/rklimenko/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
{% if students %}
    <ul>
    {% for student in students %}
        <li><a href="/rklimenko/">{{ student.first_name }} {{ student.last_name }}</a></li>
    {% endfor %}
    </ul>
 {% endif %}
{% if persons %}
    <ul>
    {% for person in persons %}
    <li><a href="/rklimenko/">{{ person.first_name }} {{ person.last_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}